* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0;
    border: 0; */
}
body {
    margin: 0;
    padding: 0;
}
header {
    min-width: 1190px;
    height: 212px;
    background-color: white;
}
header > .head_container {
    display: grid;
    margin: 0px auto;
    width: 1190px;
    padding: 0px 30px;
    grid-template-columns: 243px 586px 1fr;
    background-color: white;
    height: 160px;
}
.logo_naver {
    margin: auto;
    margin-right: 20px;
}
.searchbar {
    width: 586px;
    height: 56px;
    display: flex;
    margin: auto;
    border: 2px solid #2db400;
    border-radius: 3px;
}
.searchbar > input {
    width: 560px;
    height: 52px;
    padding: 13px 15px;
    border: 0px;
    border-radius: inherit;
}
.searchbar > button {
    width: 52px;
    height: 52px;
    border: 0px;
    outline: none;
    text-align: center;
    padding: 1px;
    background-color: #2db400;
}
.links {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
a:visited {
    text-decoration: none;
}
.links a {
    text-decoration: none; color: black;
    font-size: 9pt;
}

.group_nav {
    border-top: 1px solid rgba(170, 170, 170, 0.322);
}

.group_nav nav {
    display: flex;
    margin: 0px auto;
    width: 1190px;
    background-color: white;
    align-items: center;
    align-content: center;
}
.group_nav a {
    font-weight: bold;
    text-decoration: none; color: black;
}
.group_nav nav ul {
    /* margin-left: 30px; */
    width: 58%;
    margin-right: 0px;
    flex-grow: 1;
}
.group_nav nav .more {
    flex-grow: 1;
}
.group_nav nav .weather {
    flex-grow: 1;
}
.group_nav nav ul li {
    margin-left: 10px;
    display: inline-block;
}

.naver_green a {
    color: #2db400;
}

main {
    min-height: 500px;
    background-color: black;
}
footer {
    height: 337px;
    background-color: darkgray;
}
