* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  a {
    color: #424242;
  }
  a:link, a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .horizontal-line {
    height: 1px;
    background-color: #eaeaea;
  }
  
  .wrap {
    display: grid;
    grid-template-rows: repeat(3, minmax(100px auto));
  }
  
  .header {
    background-color: #FFFFFF;
  }
  .header__top-wrap {
    height: 160px;
    display: flex;
    margin: auto;
    align-items: center;
    width: 1130px;
    padding: 0px 30px;
  }
  .header__nav-wrap {
    height: 52px;
    width: 1130px;
    padding: 0px 30px;
  }
  .header__logo {
    width: 220px;
  }
  .header__search {
    width: 586px;
    background-color: #2db400;
  }
  
  .nav {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
  }
  .nav__list {
    list-style-type: none;
  }
  .nav__item {
    float: left;
    margin-right: 14px;
    padding-top: 15px;
  }
  .nav__item a:hover {
    text-decoration: none;
  }
  .nav__link[class$="--custom"] {
    color: #2db400;
  }
  .nav__more {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    align-self: center;
    padding-left: 20px;
    padding-top: 15px;
  }
  .nav__weather {
    align-self: center;
    text-align: center;
    padding-top: 15px;
    flex-grow: 1;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 586px;
    height: 56px;
  }
  .search__input {
    width: 498px;
    height: 26px;
    padding: 13px 15px;
  }
  .search__button {
    width: 54px;
    height: 54px;
    background-color: #2db400;
  }
  
  .side-links {
    align-self: flex-start;
    font-size: 9px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding-top: 8px;
    padding-left: 65px;
  }
  .side-links * {
    float: left;
  }
  
  .main {
    border-top: 1px solid #eaeaea;
  }
  .main__wrap {
    display: grid;
    margin: 0px auto;
    width: 1130px;
    padding: 0px 30px;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
  }
  
  .cards {
    list-style-type: none;
    display: grid;
    margin: 0px auto;
    align-items: center;
    width: 750px;
    height: 260px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  
  .footer {
    border-top: 1px solid #eaeaea;
    background-color: #FAFBFC;
  }
  .footer__wrap {
    display: grid;
    grid-template-rows: 134px auto;
    margin: 0px auto;
    width: 1130px;
    padding: 0px 30px 92px;
  }
  .footer__banner-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 24px 0px;
  }
  .footer__notice-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 15px;
    border-top: 1px solid #eaeaea;
  }
  .footer__notice-box, .footer__link-all {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
  }
  .footer__partners-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: 1px solid #eaeaea;
  }
  .footer__partner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 66px;
    padding: 20px 0px;
  }
  .footer__projects-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding: 28px 0px;
  }
  .footer__projects-wrap * {
    flex-grow: 1;
  }
  .footer__info-wrap {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
  }
  .footer__addr {
    font-size: 12px;
    padding-left: 15px;
  }
  .footer__addr a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    color: #202020;
  }
  
  .banner {
    display: grid;
    align-items: center;
    grid-template-columns: 160px 1fr;
  }
  .banner__img {
    margin-top: 4px;
  }
  .banner__content {
    padding-left: 16px;
  }
  .banner__title {
    margin-top: 6px;
    font-size: 13px;
    color: #424242;
  }
  .banner__subtitle {
    font-size: 12px;
    color: #58C464;
  }
  .banner__desc {
    margin-top: 8px;
    font-size: 12px;
    color: #424242;
  }
  
  .project {
    display: flex;
    flex-direction: row;
  }
  .project__desc * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
  }
  .project__img {
    margin-right: 45px;
  }
  
  .title-link-set {
    display: flex;
    align-items: center;
    height: 16px;
  }
  .title-link-set__title {
    width: 87px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
  }
  .title-link-set:nth-child(2) {
    margin-top: 9px;
  }
  .title-link-set:nth-child(3) {
    margin-top: 9px;
  }
  
  .link-set * {
    float: left;
    color: #777777;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
  }
  
  .sa-bar {
    width: 1px;
    height: 11px;
    margin: 3px 8px;
    background-color: #E4E8EB;
    float: left;
  }