* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    width: 1463px;
    height: 212px;
    background-color: gray;
}
header > .head-containor {
    display: grid;
    margin: 0px auto;
    width: 1230px;
    grid-template-columns: 243px 586px 1fr;
    background-color: skyblue;
    height: 160px;
}
.logo-naver {
    margin: auto;
    margin-right: 20px;
}
.search-bar {
    display: flex;
    margin: auto;
    border: 2px solid #2db400;
    height: 56px;
    width: 586px;
}
.search-bar > input {
    width: 560px;
    height: 52px;
    padding: 13px 15px;
    border: 0px;
}
.search-bar > button {
    width: 52px;
    height: 52px;
    border: 0px;
    outline: none;
    text-align: center;
    padding: 1px;
    background-color: #2db400;
}
.search-bar > button > img {
    width: 50px;
    height: 50px;
}

/* .logo-naver > a {
    margin-top: 100px;
    border: 1px solid green;
    border-color: green;
} */
.links {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
main {
    min-height: 500px;
    background-color: azure;
}
footer {
    height: 337px;
    background-color: darkgray;
}
